<% if user_signed_in?%>
  <div class="float-end">
    <%= link_to "コミュニティを作成する", new_community_path, class: "btn btn-primary"%>
  </div>
<% end %>

<% @communities.each do |community| %>
<div class="card">
  <h3><%= link_to community.name, community %></h3>
  <%= simple_format community.description %>
</div>
<% end %>